#topBar {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #CA8682;
}

#box {
  width: 23%;
  height: 100%;
  //background-color: white;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 3.33%;
  right: 76.39%;
}

#taboo {
  width: 75%;
  height: 100%;
  position: absolute;
}

#section {
    background-image: url("cloud_2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

#stats {
  position: absolute;
  width: 90%;
  height: 20%;
  left: %;
  top: 24%;
}

#number {
  position: absolute;
  margin: 0;
  left: 11%;
  right: 0%;
  top: 25%;
  line-height: 0;
  font-size: 135px;
  text-align: center;
}

#content {
  position: absolute;
  margin: 0;
  left: 28%;
  right: %;
  top: 60%;
  bottom: 0%;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 55px;
  text-align: center;
}

#right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #905156;
  border-bottom: 25px solid transparent;
  position: absolute;
  right: 5%;
  top: 50%;
}

#left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid #905156;
  border-bottom: 25px solid transparent;
  position: absolute;
  left: 5%;
  top: 50%;
}

/* https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */

.slider {
  scroll-behavior: smooth;
  width: 55%;
  height: 35%;
  display: flex;
  overflow-x: auto;
  position: absolute;
  bottom: 1%;
  left: 23%;
}

.links {
  position: absolute;
  bottom: 39%;
  left: 36%;

}

.slide {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

#slide-0{
  font-size: 18pt;
}

.slider > div {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
}

#slide-0 {
  text-align: center;
}

.slider > div:target {
  transform: scale(0.8);
}

.links > a {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  background: #905156;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.links > a:active {
  top: 1px;
}

.links  > a:focus {
  background: grey;
}
